
.front-divider {
	padding: 0px;
	margin: 0px;
	width: 50%;
	height: 100%;
	float: left;
	background-size: cover;
	overflow: hidden;
}

.logo {
	width: 70%;
	margin: auto;
	margin-top: 20%;
	transform: translateX(-8%);
}

.nav-container {
	position: relative;
	margin: auto;
	width: 70%;
}

.nav-item {
	display: inline-block;
	margin-left: 12%;
	margin-top: 3%;
	letter-spacing: 2px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.icon-container {
	position: relative;
	width: 20%;
	margin: auto;
	margin-top: 25%;

}

.icon-item {
	display: inline-block;
	height: 30px;
	margin: 0;
}

.icon-spacing {
	height:20px;
	display: inline-block;
	vertical-align: middle;
	margin-right:15px;
}

