body {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
	max-height: 100%;
}

a{
	text-decoration: none;
	color:black;

}


.flash-underline-indicator {
        height: 2px;
        margin: auto;
        transition: width 0.5s, background 0.1s;
}
.flash-underline-indicator-inactive {
        width: 0;
        background: #72c6ff;
}
.flash-underline-indicator-active {
        width: 100%;
        background: black;
}

.menu {
	height: 120px;

}


.small-logo {
	margin: auto;
	margin-top: 15px;
	margin-left: 15px;
	display: inline-block;
	width: 230px;
}



.menu-container {
	position: relative;
	display: inline-block;
	width: 450px;
	float: right;
	margin-top: 48px;

}

.menu-item {
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	margin-right: 10%;
	font-weight: 500;

}


.icons-item {
	height:20px;
	display: inline-block;
	vertical-align: middle;
	margin-right:5px;
}
