.banner {
	padding: 20px;
	border-bottom: thin solid black;
	overflow: auto;
	margin: 0 10%;
}

.banner-image {
	padding: 20px;
	width: 200px;
	height: 200px;
	display: inline-block;
	float: left;
}

.banner-description {
	padding: 15px;
	width: calc(100% - 200px - 4 * 20px);
	display: inline-block;    
}


.header {
    letter-spacing: 2px;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 35px;
    position: relative;

}

.timelabel {
    float: right;
    font-style: italic;
}

.titlelabel {
    float: left;
    font-weight: bold;
}

.toplabel {
    float: right;
    font-size: 125%;
    font-family: 'Raleway', sans-serif;
}